<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CKRadialMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E661F8C1A34E77B00DF92EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E661F971A34E77B00DF92EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E6870E01A36E2CF00A6513D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E6870FB1A36E2CF00A6513D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
